body{
  text-align: center;
}
#nameGame {
  font-size: 24px;

}

#colorPromp{
  text-decoration: underline;
}

#hide {
  display: none;
}

#startButton {
  display: inline-block;
 font-size: 24px;
 color: black;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 background-color: #f9f9f9;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
 width: 10em;
 height: 3em;
}

#startButton:hover {
  background-color: black;
  color: white;
}

#startButton:active {
  background-color: gray;
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#red {
  display: inline-block;
 font-size: 24px;
 color: black;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 background-color: #cc0404;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
 width: 10em;
 height: 10em;
}

#red:hover {
  background-color: #ff5656;
}

#red:active {
  background-color: #cc0404;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#green {
  display: inline-block;
 font-size: 24px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 background-color: green;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
 width: 10em;
 height: 10em;
}

#green:hover {
  background-color: #62f442;
}

#green:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#yellow {
  display: inline-block;
 font-size: 24px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 background-color: #eded00;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
 width: 10em;
 height: 10em;
}

#yellow:hover {
  background-color: #faff7c;
}

#yellow:active {
  background-color: #eded00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#blue {
  display: inline-block;
 font-size: 24px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 background-color: blue;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
 width: 10em;
 height: 10em;
}

#blue:hover {
  background-color: #7cc0ff;
}

#blue:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
